.attribution {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 11px;
  text-align: center;
  color: hsl(31, 77%, 52%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  color: hsl(0, 0%, 95%);
  margin: 5rem 10rem 0rem 10rem;
  font-size: 15px
}

h1 {
  font-family: 'Big Shoulders Display', cursive;
  letter-spacing: 1.5px;
  color: hsl(0, 0%, 95%);
}

p {
  font-family: 'Lexend Deca', sans-serif;
  color:  hsla(0, 0%, 100%, 0.75);
  margin-bottom: 4rem;
  line-height: 1.5;
}

.container-fluid {
  width: 100%;
  height: 90%;
}

.suvs, .sedans, .luxury {
  padding: 0px;
}


.sedans-card {
  background-color: hsl(31, 77%, 52%);
  border-radius: .5rem 0 0 .5rem;
  padding: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.suvs-card {
  background-color: hsl(184, 100%, 22%);
  border-radius: 0rem;
  padding: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.luxury-card {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 .5rem .5rem 0;
  padding: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.card-body {
  padding-left: 0;
  padding-right: 0;
}

.card-icon {
  padding: 0 0 2rem 0;
  width: 5rem;
}

/* Buttons */

.btn {
  border-radius: 5rem;
  padding: 6px 22px 8px 22px;
  border-width: 2px;
}

.btn-sedan {
  color: hsl(31, 77%, 52%);
}

.btn-sedan:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);

}

.btn-suv {
  color: hsl(184, 100%, 22%);
}

.btn-suv:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}

.btn-luxury {
  color: hsl(179, 100%, 13%);
}

.btn-luxury:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}

/*Media Queries*/

@media (max-width: 600px) {
  body {
    margin: 6rem 3rem 2rem 3rem;
  }

  .sedans-card {
    border-radius: 0.5rem 0.5rem 0 0;
    margin-bottom: 0;
  }

  .suvs-card {
    margin-bottom: 0;
  }

  .luxury-card {
    border-radius: 0 0 .5rem .5rem;
  }
}
